
<nav mat-tab-nav-bar>
  <div class="card-body">
    <img class="logo" src="assets/new_logo.jpg" alt="logo" width="50" height="50">{{getUserName()}}
    <a mat-tab-link
       *ngFor="let link of homeLink"
       [routerLink]="link.path"
       routerLinkActive #rla="routerLinkActive"
       [active]=rla.isActive>
      <mat-icon>{{link.icon}}</mat-icon>
      {{link.label}}
    </a>
    <a mat-tab-link
       *ngIf="!isAuth()"
       [routerLink]="loginLink.path"
       routerLinkActive #rla="routerLinkActive"
       [active]="rla.isActive">
      <mat-icon>{{loginLink.icon}}</mat-icon>
      {{loginLink.label}}
    </a>
    <a mat-tab-link
       *ngIf="!isAuth()"
       [routerLink]="registerLink.path"
       routerLinkActive #rla="routerLinkActive"
       [active]="rla.isActive">
      <mat-icon>{{registerLink.icon}}</mat-icon>
      {{registerLink.label}}
    </a>
    <label *ngIf="isAuth()" mat-tab-link [matMenuTriggerFor]="appMenu">
      check
      <mat-icon>
        menu
      </mat-icon>
    </label>
    <label *ngIf="isAuth()" mat-tab-link [matMenuTriggerFor]="appAddMenu">
      add
      <mat-icon>
        menu
      </mat-icon>
    </label>
    <mat-menu #appMenu="matMenu">
      <a mat-menu-item
         *ngFor="let item of menuItems"
         [routerLink]="item.path">
        <mat-icon style="color: #093911">{{item.icon}}</mat-icon>
        {{item.label}}
      </a>
    </mat-menu>

    <mat-menu #appAddMenu="matMenu">
      <a mat-menu-item
         *ngFor="let item of addMenuItems"
         [routerLink]="item.path">
        <mat-icon style="color: #093911">{{item.icon}}</mat-icon>
        {{item.label}}
      </a>
    </mat-menu>

    <a mat-button
       *ngIf="isAuth()" (click)="logout()">
      <mat-icon>(logout)</mat-icon>
    </a>
  </div>
  <hr>
</nav>

<hr class="nav-hr">
<router-outlet></router-outlet>


/* margin-top: 1rem; */
/* margin-bottom: 1rem; */
border: 0;
/* border-top: 1px solid rgba(0, 0, 0, 0.1); */
