<nav mat-tab-nav-bar>
  <div class="card-body">

<!--    <img class="logo" src="assets/logo_new.png" alt="logo" width="100" height="50">-->
    <label *ngIf="isAuth()" mat-tab-link>
      {{getUserName()}}
      <mat-icon>
        how_to_reg
      </mat-icon>
    </label>
<a mat-tab-link
   *ngFor="let link of homeLink"
   [routerLink]="link.path"
   routerLinkActive #rla="routerLinkActive"
   [active]=rla.isActive>
  <mat-icon>{{link.icon}}</mat-icon>
  {{link.label}}
</a>

    <a mat-tab-link
       *ngIf="!isAuth()"
       [routerLink]="loginLink.path"
       routerLinkActive #rla="routerLinkActive"
       [active]="rla.isActive">
      <mat-icon>{{loginLink.icon}}</mat-icon>
      {{loginLink.label}}
    </a>
    <a mat-tab-link
       *ngIf="!isAuth()"
       [routerLink]="registerLink.path"
       routerLinkActive #rla="routerLinkActive"
       [active]="rla.isActive">
      <mat-icon>{{registerLink.icon}}</mat-icon>
      {{registerLink.label}}
    </a>
    <label *ngIf="isAuth()" mat-tab-link [matMenuTriggerFor]="appMenu">
      check
      <mat-icon>
        menu
      </mat-icon>
    </label>
    <label *ngIf="isAuth()" mat-tab-link [matMenuTriggerFor]="appAddMenu">
      add
      <mat-icon>
        menu
      </mat-icon>
    </label>
    <mat-menu #appMenu="matMenu">
      <a mat-menu-item
         *ngFor="let item of menuItems"
         [routerLink]="item.path">
        <mat-icon style="color: #093911">{{item.icon}}</mat-icon>
        {{item.label}}
      </a>
    </mat-menu>

    <mat-menu #appAddMenu="matMenu">
      <a mat-menu-item
         *ngFor="let item of addMenuItems"
         [routerLink]="item.path">
        <mat-icon style="color: #093911">{{item.icon}}</mat-icon>
        {{item.label}}
      </a>
    </mat-menu>

    <a mat-button
       *ngIf="isAuth()" (click)="logout()">
      <mat-icon>{{logoutLinks.icon}}</mat-icon>
      {{logoutLinks.label}}
    </a>
  </div>
</nav>
<!--<nav mat-tab-nav-bar>-->
<!--  <img class="logo" src="../../../assets/logo3.png" alt="logo" width="1000" height="40">-->
<!--</nav>-->
<router-outlet></router-outlet>

