.sign {
  float: right; /* Выравнивание по правому краю */
  border: 1px solid #333; /* Параметры рамки */
  padding: 7px; /* Поля внутри блока */
  margin: 10px 0 5px 5px; /* Отступы вокруг */
  color: black;
}
.sign figcaption {
  margin: 0 auto 5px; /* Отступы вокруг абзаца */
  color: black;
}
.button-center{
  width: 100%;
}
.border-title {
  background-color: darkgrey;
}
.attention-text{
  color: darkred;
  text-align: center;
}

p{
  color: black;
}
.flex-container {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: space-between;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  flex-grow: 1;
}

.flex-item:nth-child(1) {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}

.flex-item:nth-child(2) {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}

.flex-item:nth-child(3) {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}

.mat-input-element {
  font: inherit;
  background: #9be7ad;
  color: #093911;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 100%;
  vertical-align: bottom;
  text-align: inherit;
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: #093911;
  color: #093911;
}

:host /deep/ .mat-form-field-label-wrapper .mat-form-field-label {
  color: black !important;
}

/*Change text in autofill textbox*/
input:-webkit-autofill {
  -webkit-text-fill-color: #093911 !important;
}
/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
  -webkit-box-shadow: 0 0 0 30px #9be7ad inset !important;
}
.mat-focused .mat-form-field-label {
  color: #027D7C !important;
}

.mat-form-field-label{
  color: #093911 !important;
}
.mat-form-field-underline {
  background-color: #093911 !important;;
}
.mat-form-field-ripple {
  background-color: #093911 !important;
}
.mat-paginator-container {
  color: #093911;
  background: #e7e39b;
}
.mat-select-value {
  color: #093911;
}
.mat-select-arrow {
  color: #093911;
}
.mat-cell, .mat-footer-cell {
  color: #093911;
  background: #9be7ad;
}
.mat-header-cell {
  color: #093911;
  background: #e7e39b;
}
.mat-select-placeholder {
  color: #093911;
}
.mat-list-base .mat-list-item {
  color: #093911;

}
hr {
  border-top: 1px solid #093911;
  background: #e7e39b;
}
.border {
   border: 1px solid #9be7ad !important;
}
flex::before, flex::after {
  box-sizing: border-box;
  height: 70%;
}
