<div class="nav-list">
  <h1 class="mat-card-title" style="text-align: center">Expense card</h1>
  <form #form="ngForm" (ngSubmit)="saveCard(form)">
    <div class="flex-container">
      <!--first div-->
      <div style="background:red; width: -webkit-fill-available; padding-left: 10%">
        <div class="card-body">
          <div>
            <!--date-->
            <mat-form-field appearance="fill">
              <mat-label>Choose date</mat-label>
              <input matInput [matDatepicker]="picker" [formControl]="date" required>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
          <!--          bill-->
          <div>
            <mat-form-field appearance="fill">
              <mat-select [(ngModel)]="billName" name="billName" placeholder="choose bill" required>
                <mat-option *ngFor="let bill of bills$|async"
                            [value]="bill.billName" (blur)="getBill(bill.billUuid)">
                  {{bill.billName}}
                </mat-option>
              </mat-select>
              <mat-icon matSuffix> monetization_on</mat-icon>
            </mat-form-field>
          </div>
          <!--            new category-->
          <div>
            <section class="example-section">
              <mat-checkbox (change)="check($event.checked)">add new category</mat-checkbox>
            </section>
          </div>
          <!--                      category-->
          <div *ngIf="!newCategory()  else elseCategory">
            <mat-form-field appearance="fill">
              <mat-select [(ngModel)]="categoryName" name="categoryName" placeholder="choose category" required>
                <mat-option *ngFor="let category of categories$|async"
                            [value]="category.categoryName" (blur)="getCategory(category.categoryUuid)">
                  {{category.categoryName}}
                </mat-option>
              </mat-select>
              <mat-icon matSuffix>category</mat-icon>
            </mat-form-field>
          </div>
          <ng-template #elseCategory>
            <mat-form-field appearance="legacy">
              <mat-label>input new category</mat-label>
              <input matInput placeholder="input category">
              <mat-icon matSuffix>category</mat-icon>
            </mat-form-field>
          </ng-template>

          <!--          subcategory-->
          <!--            new subcategory-->
          <div>
            <section class="example-section">
              <mat-checkbox (change)="checksub($event.checked)">add new subcategory</mat-checkbox>
            </section>
          </div>
          <div *ngIf="!newSubcategory() else elseSubcategory">
            <mat-form-field appearance="fill">
              <mat-select [(ngModel)]="subcategories" name="subCategoryName" placeholder="choose subcategory" required>
                <mat-option *ngFor="let subcategory of subcategories$|async"
                            [value]="subcategory.subcategoryName" (blur)="getSubcategory(subcategory.subcategoryUuid)">
                  {{subcategory.subcategoryName}}
                </mat-option>
              </mat-select>
              <mat-icon matSuffix>view_in_ar</mat-icon>
            </mat-form-field>
          </div>
          <ng-template #elseSubcategory>
            <mat-form-field appearance="legacy">
              <mat-label>input new category</mat-label>
              <input matInput placeholder="input subcategory">
              <mat-icon matSuffix>category</mat-icon>
            </mat-form-field>
          </ng-template>

          <!--    currency  -->
          <div>
            <mat-form-field appearance="fill">
              <mat-select [(ngModel)]="currency" name="currency" placeholder="choose currency" required>
                <mat-option *ngFor="let cur of currencyArray"
                            [value]="cur">
                  {{cur}}
                </mat-option>
              </mat-select>
              <mat-icon matSuffix> price_check</mat-icon>
            </mat-form-field>
          </div>

        </div>
      </div>


      <!--  second div-->
      <div style="background: #093911"> dfgdfg</div>

      <!-- third div -->
      <div style="background: #9be7ad; width: -webkit-fill-available; padding-right: 10%;">
        <div class="flex-container-small">
          <!--     sum-->
          <div class="small-div">
            <mat-form-field>
              <label>input sum</label>
              <input type="number" matInput ngModel #sum="ngModel" name="sum"
                     #sum=ngModel
                     required>
            </mat-form-field>
          </div>
          <!--count-->
          <div class="small-div">
            <mat-form-field>
              <label>count</label>
              <input type="number" matInput ngModel #count="ngModel" name="count"
                     #count=ngModel>
            </mat-form-field>
          </div>

          <!--discount-->
          <div class="small-div">
            <mat-form-field>
              <label>discount</label>
              <input type="number" matInput ngModel #discount="ngModel" name="discount"
                     #discount=ngModel>
            </mat-form-field>
          </div>
          <!--unit-->
          <div class="small-div">
            <mat-form-field>
              <label>unit</label>
              <input type="text" matInput ngModel #unit="ngModel" name="unit"
                     #unit=ngModel>
            </mat-form-field>
          </div>

          <!--          description-->
          <div>
            <mat-form-field appearance="fill">
              <mat-label>Textarea</mat-label>
              <textarea [(ngModel)]="note" name="note" placeholder="input text" required matInput>
                            </textarea>
              <mat-icon matSuffix>view_headline</mat-icon>
            </mat-form-field>
          </div>
<!--           /-->
        </div>
      </div>
    </div>
    <button mat-raised-button type="submit" *ngIf="form.valid && form.touched">save</button>
  </form>
</div>
