.flex-container {
  /*display: -ms-flexbox;*/
  /*display: -webkit-flex;*/
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  /*-ms-flex-pack: center;*/
  /*justify-content: center;*/
  /*-webkit-align-content: center;*/
  /*-ms-flex-line-pack: center;*/

  -ms-flex-align: start;

}

.flex-item:nth-child(1) {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}

.flex-item:nth-child(2) {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}

.flex-item:nth-child(3) {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}
.form{
  width: 100%;
}
.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}
.sign {
  float: right; /* Выравнивание по правому краю */
  border: 1px solid #333; /* Параметры рамки */
  padding: 7px; /* Поля внутри блока */
  margin: 10px 0 5px 5px; /* Отступы вокруг */
  color: black;
}
.sign figcaption {
  margin: 0 auto 5px; /* Отступы вокруг абзаца */
  color: black;
}
.mat-form-field{
  width: 98%;
  align-content: center;
}

.small-div{
  width: 50%;
  border: #ff180a 3px solid;
  margin: 10px;
}

.flex-container-small {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: space-around;
  -ms-flex-line-pack: distribute;
  align-content: space-around;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.flex-item:nth-child(1) {
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  -webkit-flex: 0 .5 auto;
  -ms-flex: 0 .5 auto;
  flex: 0 .5 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}

.flex-item:nth-child(2) {
  -webkit-order: 2;
  -ms-flex-order: 2;
  order: 2;
  -webkit-flex: 0 .5 auto;
  -ms-flex: 0 .5 auto;
  flex: 0 .5 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}

.flex-item:nth-child(3) {
  -webkit-order: 3;
  -ms-flex-order: 3;
  order: 3;
  -webkit-flex: 0 .5 auto;
  -ms-flex: 0 .5 auto;
  flex: 0 .5 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}

.flex-item:nth-child(4) {
  -webkit-order: 4;
  -ms-flex-order: 4;
  order: 4;
  -webkit-flex: 0 .5 auto;
  -ms-flex: 0 .5 auto;
  flex: 0 .5 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}

.flex-item:nth-child(5) {
  -webkit-order: 5;
  -ms-flex-order: 5;
  order: 5;
  -webkit-flex: 0 .5 auto;
  -ms-flex: 0 .5 auto;
  flex: 0 .5 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}
.flex-item {
  width: 100%;
}
