<div class="nav-list">
  <div class="card-body">
    <section class="example-section">
      <label class="example-margin"><h2><strong>Choose currency</strong></h2></label>
      <br>
      <mat-radio-group [(ngModel)]="choosingCurrency" (ngModelChange)="setValue()">
        <mat-radio-button class="example-margin" value="ISR">Israel Shekel</mat-radio-button>
        <mat-radio-button class="example-margin" value="USA">Dollar USA</mat-radio-button>
        <mat-radio-button class="example-margin" value="UKR">Hryvna Ukraine</mat-radio-button>
      </mat-radio-group>
    </section>

    <div class="flex-container">
      <!--ballance-->
      <div class="balance card-body">
        <h3 style=" text-align: right;" class="red" [ngClass]="{'red': getTotalCost() <0 }">
          Balance: <strong>{{getTotalCost()}}</strong></h3>

        <div class="example-container">
          <mat-tab-group>
            <mat-tab label="{{choosingCurrency}}">
              <table mat-table [dataSource]="bills">
                <!-- billName Column -->
                <ng-container matColumnDef="billName">
                  <th mat-header-cell *matHeaderCellDef> billName</th>
                  <td mat-cell *matCellDef="let row"> {{row.billName}} </td>
                  <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <!-- sum Column -->
                <ng-container matColumnDef="sumIsr" [ngClass]="{'display': choosingCurrency!='ISR' }">
                  <th [ngClass]="{'display': choosingCurrency!='ISR' }" mat-header-cell *matHeaderCellDef> sum ₪</th>
                  <td [ngClass]="{'display': choosingCurrency!='ISR' }" mat-cell
                      *matCellDef="let row"> {{row.sumIsr}}  </td>
                  <td [ngClass]="{'display': choosingCurrency!='ISR' }" mat-footer-cell *matFooterCellDef></td>
                </ng-container>
                <!-- sum Column -->
                <ng-container matColumnDef="sumUkr" [ngClass]="{'display': choosingCurrency!='UKR'}">
                  <th [ngClass]="{'display': choosingCurrency!='UKR'}" mat-header-cell *matHeaderCellDef> sum ₴</th>
                  <td [ngClass]="{'display': choosingCurrency!='UKR'}" mat-cell
                      *matCellDef="let row"> {{row.sumUkr}}</td>
                  <td [ngClass]="{'display': choosingCurrency!='UKR'}" mat-footer-cell *matFooterCellDef></td>
                </ng-container>
                <!-- sum Column -->
                <ng-container matColumnDef="sumUsa" [ngClass]="{'display': choosingCurrency!='USA'}">
                  <th [ngClass]="{'display': choosingCurrency!='USA'}" mat-header-cell *matHeaderCellDef> sum $</th>
                  <td [ngClass]="{'display': choosingCurrency!='USA'}" mat-cell
                      *matCellDef="let row"> {{row.sumUsa}}  </td>
                  <td [ngClass]="{'display': choosingCurrency!='USA'}" mat-footer-cell *matFooterCellDef></td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>

      <!--last oper-->
      <div class="balance card-body">
        <h3 style=" text-align: right;">
          <strong>Last operations</strong></h3>
        <div class="example-container">

          <mat-tab-group>
            <mat-tab label="Today">
              <table mat-table [dataSource]="dataSourceLastOperToday">
                <!-- Date Column -->
                <ng-container matColumnDef="date">
                  <th mat-header-cell *matHeaderCellDef> Date</th>
                  <td mat-cell *matCellDef="let row"> {{row.date}} </td>
                </ng-container>

                <!-- Bill Column -->
                <ng-container matColumnDef="bill">
                  <th mat-header-cell *matHeaderCellDef> Bill</th>
                  <td mat-cell *matCellDef="let row"> {{row.billName}} </td>
                </ng-container>

                <!-- Category Column -->
                <ng-container matColumnDef="category">
                  <th mat-header-cell *matHeaderCellDef> Category</th>
                  <td mat-cell *matCellDef="let roe"> {{roe.category}} </td>
                </ng-container>

                <!-- sum Column -->
                <ng-container matColumnDef="sum">
                  <th mat-header-cell *matHeaderCellDef> Sum</th>
                  <td mat-cell *matCellDef="let row"> {{row.sum}} </td>
                </ng-container>


                <!-- currency Column -->
                <ng-container matColumnDef="currency">
                  <th mat-header-cell *matHeaderCellDef> currency</th>
                  <td mat-cell *matCellDef="let row"> {{row.currency}} </td>
                </ng-container>

                <!-- type Column -->
                <ng-container matColumnDef="type">
                  <th mat-header-cell *matHeaderCellDef> type</th>
                  <td mat-cell *matCellDef="let row">
                    <mat-icon [ngClass]="{red: row.type=== 'call_made'}">{{row.type}}</mat-icon>
                  </td>
                </ng-container>

                <ng-container matColumnDef="detail">
                  <th mat-header-cell *matHeaderCellDef> detail</th>
                  <td mat-cell *matCellDef="let row">
                    <mat-icon *ngIf="row.operationUuid!=''">details</mat-icon>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumnsOper"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsOper;"></tr>
              </table>
            </mat-tab>
            <mat-tab label="Week">
              <table mat-table [dataSource]="dataSourceLastOperWeek">
                <!-- Date Column -->
                <ng-container matColumnDef="date">
                  <th mat-header-cell *matHeaderCellDef> Date</th>
                  <td mat-cell *matCellDef="let row"> {{row.date}} </td>
                </ng-container>

                <!-- Bill Column -->
                <ng-container matColumnDef="bill">
                  <th mat-header-cell *matHeaderCellDef> Bill</th>
                  <td mat-cell *matCellDef="let row"> {{row.billName}} </td>
                </ng-container>

                <!-- Category Column -->
                <ng-container matColumnDef="category">
                  <th mat-header-cell *matHeaderCellDef> Category</th>
                  <td mat-cell *matCellDef="let roe"> {{roe.category}} </td>
                </ng-container>

                <!-- sum Column -->
                <ng-container matColumnDef="sum">
                  <th mat-header-cell *matHeaderCellDef> Sum</th>
                  <td mat-cell *matCellDef="let row"> {{row.sum}} </td>
                </ng-container>

                <!-- currency Column -->
                <ng-container matColumnDef="currency">
                  <th mat-header-cell *matHeaderCellDef> currency</th>
                  <td mat-cell *matCellDef="let row"> {{row.currency}} </td>
                </ng-container>

                <!-- type Column -->
                <ng-container matColumnDef="type">
                  <th mat-header-cell *matHeaderCellDef> type</th>
                  <td mat-cell *matCellDef="let row">
                    <mat-icon [ngClass]="{red: row.type=== 'call_made'}">{{row.type}}</mat-icon>
                  </td>
                </ng-container>

                <ng-container matColumnDef="detail">
                  <th mat-header-cell *matHeaderCellDef> detail</th>
                  <td mat-cell *matCellDef="let row">
                    <mat-icon>details</mat-icon>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumnsOper"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsOper;"></tr>
              </table>
            </mat-tab>
            <mat-tab class="mat-elevation-z8" label="Month">
              <table mat-table [dataSource]="dataSourceLastOperMonth">
                <!-- Date Column -->
                <ng-container matColumnDef="date">
                  <th mat-header-cell *matHeaderCellDef> Date</th>
                  <td mat-cell *matCellDef="let row"> {{row.date}} </td>
                </ng-container>

                <!-- Bill Column -->
                <ng-container matColumnDef="bill">
                  <th mat-header-cell *matHeaderCellDef> Bill</th>
                  <td mat-cell *matCellDef="let row"> {{row.billName}} </td>
                </ng-container>

                <!-- Category Column -->
                <ng-container matColumnDef="category">
                  <th mat-header-cell *matHeaderCellDef> Category</th>
                  <td mat-cell *matCellDef="let roe"> {{roe.category}} </td>
                </ng-container>

                <!-- sum Column -->
                <ng-container matColumnDef="sum">
                  <th mat-header-cell *matHeaderCellDef> Sum</th>
                  <td mat-cell *matCellDef="let row"> {{row.sum}} </td>
                </ng-container>

                <!-- currency Column -->
                <ng-container matColumnDef="currency">
                  <th mat-header-cell *matHeaderCellDef> currency</th>
                  <td mat-cell *matCellDef="let row"> {{row.currency}} </td>
                </ng-container>

                <!-- type Column -->
                <ng-container matColumnDef="type">
                  <th mat-header-cell *matHeaderCellDef> type</th>
                  <td mat-cell *matCellDef="let row">
                    <mat-icon [ngClass]="{red: row.type=== 'call_made'}">{{row.type}}</mat-icon>
                  </td>
                </ng-container>

                <ng-container matColumnDef="detail">
                  <th mat-header-cell *matHeaderCellDef> detail</th>
                  <td mat-cell *matCellDef="let row">
                    <mat-icon>details</mat-icon>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumnsOper"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsOper;"></tr>
              </table>
            </mat-tab>
            <!--          YEAR-->
            <mat-tab label="Year">
              <table mat-table [dataSource]="dataSourceLastOperYear">
                <!-- Date Column -->
                <ng-container matColumnDef="date">
                  <th mat-header-cell *matHeaderCellDef> Date</th>
                  <td mat-cell *matCellDef="let row"> {{row.date}} </td>
                </ng-container>

                <!-- Bill Column -->
                <ng-container matColumnDef="bill">
                  <th mat-header-cell *matHeaderCellDef> Bill</th>
                  <td mat-cell *matCellDef="let row"> {{row.billName}} </td>
                </ng-container>

                <!-- Category Column -->
                <ng-container matColumnDef="category">
                  <th mat-header-cell *matHeaderCellDef> Category</th>
                  <td mat-cell *matCellDef="let row"> {{row.category}} </td>
                </ng-container>

                <!-- sum Column -->
                <ng-container matColumnDef="sum">
                  <th mat-header-cell *matHeaderCellDef> Sum</th>
                  <td mat-cell *matCellDef="let row"> {{row.sum}} </td>
                </ng-container>

                <!-- currency Column -->
                <ng-container matColumnDef="currency">
                  <th mat-header-cell *matHeaderCellDef> currency</th>
                  <td mat-cell *matCellDef="let row"> {{row.currency}} </td>
                </ng-container>

                <!-- type Column -->
                <ng-container matColumnDef="type">
                  <th mat-header-cell *matHeaderCellDef> type</th>
                  <td mat-cell *matCellDef="let row">
                    <mat-icon [ngClass]="{red: row.type=== 'call_made'}">{{row.type}}</mat-icon>
                  </td>
                </ng-container>

                <ng-container matColumnDef="detail">
                  <th mat-header-cell *matHeaderCellDef> detail</th>
                  <td mat-cell *matCellDef="let row" >
                    <mat-icon >details</mat-icon>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumnsOper"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsOper;"></tr>
              </table>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>

      <div  class="card-body" style="display:flex;
  justify-content:space-around; ">
        <button  (click)="addBill()"> add bill</button>
        <button  (click)="addIncome()"> add income</button>
        <button  (click)="addOutcome()"> add outcome</button>
        <button  (click)="addCategory()"> add category</button>
        <button  (click)="addSubcategory()"> add subcategory</button>
    </div>
  </div>

</div>
