/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


html,body{min-height: 100%; height: 100%;}

/*//fone pages*/
.nav-list{
  height: 90vh;
  overflow-y: auto;
  background: #e7e39b;
  color: #093911;

}
.card{
  background: #9be7ad;
  color: #093911;

}
.mat-tab-nav-bar, .mat-tab-link, .mat-raised-button {
  color: #093911;
  background: #9be7ad;
}

.mat-card-header, card-body {
  color: #093911;
}


.mat-menu-item{
  background: #9be7ad;
  opacity: 0.7;
  color: #093911;


}

.footer__wrapper{
  color: #093911;
  background: #9be7ad;
  opacity: 0.5;
  height: 20vh;
  overflow-y: auto;
}


