/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  border: #093911 solid 3px;
}


html, body {
  min-height: 100%;
  height: 100%;
  /*background: #e7e39b linear-gradient(#9be7ad, #027D7C);*/
  /*box-shadow: inset 0 -2px 1px rgba(0,0,0,0), inset 0 1px 2px rgba(0,0,0,0), inset 0 0 0 60px rgba(255,255,0,0);*/
  /*transition: box-shadow .2s, border-color .2s;*/
  background: #093911;
}

/*//fone pages*/
.nav-list {
  height: 90vh;
  overflow-y: auto;
  /*background: #e7e39b;*/
  color: #093911;
  background: #e7e39b linear-gradient(#9be7ad, #027D7C);
  box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0), inset 0 1px 2px rgba(0, 0, 0, 0), inset 0 0 0 60px rgba(7, 7, 7, 0);
  transition: box-shadow .2s, border-color .2s;
  /*border: #093911  solid 3px;*/

}

.card {
  border-radius: 7px;
  background: #efee2b linear-gradient(#f3f312, #ec9c06);
  box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0), inset 0 1px 2px rgba(0, 0, 0, 0), inset 0 0 0 60px rgba(255, 255, 0, 0);
  transition: box-shadow .2s, border-color .2s;
  /*color: #093911;*/
  /*border: 1px solid #027D7C;*/
  /*border-radius: 7px;*/
}

.mat-tab-nav-bar, .mat-tab-link, .mat-raised-button {
  color: #093911;
  background: #9be7ad;
}

.mat-card-header, card-body {
  color: #093911;
}


.mat-menu-item {
  background: #9be7ad;
  opacity: 0.7;
  color: #093911;


}

.footer__wrapper {
  color: #093911;
  background: #9be7ad;
  opacity: 0.5;
  height: 20vh;
  overflow-y: auto;
}

/*.dialog_class{*/
/*  background: #093911;*/
/*  color: #093911;*/
/*}*/
.mat-dialog-container {
  background: #9be7ad;
  border-radius: 10px;
  border: 3px solid #093911;
  color: #093911;
}

.mat-button {
  color: #093911;
  border: 3px solid #093911;
}

.mat-menu-item:hover {
  color: #093911;
  background: #e7e39b !important;
  border: 3px solid #093911;
}

/*button {*/
/*  float: right;*/
/*  color: #093911;*/
/*  background: #9be7ad;*/
/*}*/



/*calendar*/
.mat-calendar-body-today.mat-calendar-body-selected {
  box-shadow: 0 0 0 3px #093911;
  border: #093911;
}

.mat-select-panel .mat-optgroup-label, .mat-select-panel .mat-option {
  font-size: inherit;
  line-height: 3em;
  height: 3em;
  background: #9be7ad;
}

.mat-calendar {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #9be7ad;
}

.mat-calendar-body-cell-content.mat-focus-indicator {
  position: absolute;
  color: #027D7C;
  background: #e7e39b;
}

.mat-calendar-body-cell {
  background: #9be7ad;
}

.mat-calendar-body-cell-content.mat-focus-indicator {
  position: absolute;
  color: #027D7C;
  background: #e7e39b;
  border-block-color: inherit;
}

.mat-calendar-body-label {
  color: #027D7C;
}

.mat-calendar-table-header {
  color: #027D7C;
}

.mat-calendar-arrow {
  border-top-color: #027D7C;
}

.mat-datepicker-toggle, .mat-datepicker-content .mat-calendar-next-button, .mat-datepicker-content .mat-calendar-previous-button {
  color: #027D7C;;
}

/*.button {*/
/*  background: #e7e39b;*/
/*}*/

.form-control {
  border-radius: 7px;
  background: #e7e39b linear-gradient(#9be7ad, #027D7C);
  box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0), inset 0 1px 2px rgba(0, 0, 0, 0), inset 0 0 0 60px rgba(255, 255, 0, 0);
  transition: box-shadow .2s, border-color .2s;

}

.nav-hr {
  color: #093911;
  margin-top: 1px;
  margin-bottom: 0rem;
  border: 0;
  border-top: 0px solid rgba(0, 0, 0, 0.1);
}

/*from home*/
.example-margin {
  margin: 0 5px;
}
table {
  width: 100%;
}
.mat-form-field {
  font-size: 4vh;
  width: 100%;
}
.actions{
  cursor: pointer
}
.mat-cell, .mat-footer-cell {
  color: #093911;
}
.mat-header-cell {
  color: #093911;
  /*background: #e7e39b;*/
  background: #efee2b linear-gradient(#f3f312, #ec9c06);
  box-shadow: inset 0 -2px 1px rgba(0,0,0,0), inset 0 1px 2px rgba(0,0,0,0), inset 0 0 0 60px rgba(255,255,0,0);
  transition: box-shadow .2s, border-color .2s;
  color: #093911;
}
.mat-tooltip {
  color: #093911 !important;
  background: #e7e39b;
}
.mat-row:nth-child(even){
  background-color: #dddada;
}

.mat-row:nth-child(odd){
  background-color: #efeeee;
}
.mat-tab-label, .mat-tab-link {
  color: #093911;
  font-weight:bold;
}
.red {
  color: red;
}
.display{
  display: none;
}
.border{
  border: #093911 solid 3px;
}
.spacer {
  flex: 1 1 auto;
}
button {
  width: 100%;
  margin: 5px; /* or whatever */
  display: inline;
  color: #093911;
  font-size: 125%;
  font-weight: 700;
  text-decoration: none;
  user-select: none;
  padding: .25em .5em;
  outline: none;
  border: 1px solid #027D7C;
  border-radius: 7px;
  background: #efee2b linear-gradient(#f3f312, #ec9c06);
  /*box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0), inset 0 1px 2px rgba(0, 0, 0, 0), inset 0 0 0 60px rgba(255, 255, 0, 0);*/
  /*transition: box-shadow .2s, border-color .2s;*/
  /*background: #e7e39b linear-gradient(#9be7ad, #027D7C);*/
  box-shadow: inset 0 -2px 1px rgba(0,0,0,0), inset 0 1px 2px rgba(0,0,0,0), inset 0 0 0 60px rgba(255,255,0,0);
  transition: box-shadow .2s, border-color .2s;
}
button:hover {
  box-shadow: inset 0 -1px 1px rgba(0,0,0,0), inset 0 1px 2px rgba(0,0,0,0), inset 0 0 0 60px rgba(255,255,0,.5);
}
button:active {
  padding: calc(.25em + 1px) .5em calc(.25em - 1px);
  border-color: #9be7ad;
  box-shadow: inset 0 -1px 1px #093911, inset 0 1px 2px #9be7ad, inset 0 0 0 60px #e7e39b;
}
/*button {*/
/*  display: inline-block;*/
/*  color: #093911;*/
/*  font-size: 125%;*/
/*  font-weight: 700;*/
/*  text-decoration: none;*/
/*  user-select: none;*/
/*  padding: .25em .5em;*/
/*  outline: none;*/
/*  border: 1px solid #027D7C;*/
/*  border-radius: 7px;*/
/*  background: #e7e39b linear-gradient(#9be7ad, #027D7C);*/
/*  box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0), inset 0 1px 2px rgba(0, 0, 0, 0), inset 0 0 0 60px rgba(255, 255, 0, 0);*/
/*  transition: box-shadow .2s, border-color .2s;*/
/*}*/

/*button:hover {*/
/*  box-shadow: inset 0 -1px 1px rgba(0, 0, 0, 0), inset 0 1px 2px rgba(0, 0, 0, 0), inset 0 0 0 60px rgba(255, 255, 0, .5);*/
/*}*/

/*button:active {*/
/*  padding: calc(.25em + 1px) .5em calc(.25em - 1px);*/
/*  border-color: #9be7ad;*/
/*  box-shadow: inset 0 -1px 1px #093911, inset 0 1px 2px #9be7ad, inset 0 0 0 60px #e7e39b;*/
/*}*/
.example-container {
  height: 300px;
  overflow: auto;
  border: 1px dotted #093911;
}


/*from bill*/
.mat-input-element {
  font: inherit;
  background: white;
  color: #093911;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 100%;
  vertical-align: bottom;
  text-align: inherit;
}
.mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: #093911;
  color: #093911;
}
:host /deep/ .mat-form-field-label-wrapper .mat-form-field-label {
  color: black !important;
}
.mat-form-field-label{
  color: #093911 !important;
}
.mat-form-field-underline {
  background-color: #093911 !important;;
}
/*Change text in autofill textbox*/
/*input:-webkit-autofill {*/
/*  -webkit-text-fill-color: #093911 !important;*/
/*}*/
/* Change the white to any color ;) */
/*input:-webkit-autofill,*/
/*input:-webkit-autofill:hover,*/
/*input:-webkit-autofill:focus,*/
/*input:-webkit-autofill:active  {*/
/*  -webkit-box-shadow: 0 0 0 30px #9be7ad inset !important;*/
/*}*/
.mat-focused .mat-form-field-label {
  color: #027D7C !important;
}
.mat-form-field-ripple {
  background-color: #093911 !important;
}
.mat-paginator-container {
  color: #093911;
  background: #efee2b linear-gradient(#f3f312, #ec9c06);
  box-shadow: inset 0 -2px 1px rgba(0,0,0,0), inset 0 1px 2px rgba(0,0,0,0), inset 0 0 0 60px rgba(255,255,0,0);
  transition: box-shadow .2s, border-color .2s;
}
.mat-select-value {
  color: #093911;
}
.mat-select-arrow {
  color: #093911;
}
/*цвет заливки если выбираешь что то из списка*/
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
  /* -webkit-box-shadow: 0 0 0 30px #9be7ad inset !important; */
}
.right-button{
  display: inline-block;
  float: right;
  width: 20%;
}
.filter{
  color: #093911;
}
.green-button{
  border-radius: 7px;
  background: #e7e39b linear-gradient(#9be7ad, #027D7C);
  box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0), inset 0 1px 2px rgba(0, 0, 0, 0), inset 0 0 0 60px rgba(255, 255, 0, 0);
  transition: box-shadow .2s, border-color .2s;
}

/*значки в пагинаторе*/
.mat-button.mat-primary.mat-button-disabled, .mat-button.mat-accent.mat-button-disabled, .mat-button.mat-warn.mat-button-disabled, .mat-button.mat-button-disabled.mat-button-disabled, .mat-icon-button.mat-primary.mat-button-disabled, .mat-icon-button.mat-accent.mat-button-disabled, .mat-icon-button.mat-warn.mat-button-disabled, .mat-icon-button.mat-button-disabled.mat-button-disabled, .mat-stroked-button.mat-primary.mat-button-disabled, .mat-stroked-button.mat-accent.mat-button-disabled, .mat-stroked-button.mat-warn.mat-button-disabled, .mat-stroked-button.mat-button-disabled.mat-button-disabled {
  color: #093911;
}
/* add billl*/

.mat-card {
  background: #e7e39b;
  color: #093911;
}
.mat-checkbox-inner-container {
  background: #9be7ad;
  border: 3px solid #093911;

}

/*expenses list*/
.form{
  width: 100%;
}

